<!DOCTYPE HTML>
<html>
<head>
	<title>Drs4Me</title>
	<link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<script src="https://use.fontawesome.com/0e2e583874.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
	<link rel="stylesheet" href="/stylesheets/screen.css">
</head>
<body>

	<div id="drawer">
		<ul><h3>Menu</h3><hr>
			<li><a href="/logout">Logout</a><br></li><hr class="drawer-hr">
			<button id="drawer-close-button">Close</button>
		</ul>
	</div> 

	<div class="menu">
		<div class="sizer">
			<a href="/"><img id="logo" src="/images/logo.svg"></a>
			<i class="fa fa-bars" id="drawer-button" aria-hidden="true"></i>
			<div id="menu-button-wrapper">
				<a href="/logout"><button class="danger-button"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</button></a>
			</div>
		</div>
	</div>
	<hr>
	<div class="section sizer">
		<h3><i class="fa fa-plus" aria-hidden="true"></i><i class="fa fa-user-md" aria-hidden="true"></i> Add a physician</h3><hr style="margin: 10px 0 10px 0;">
		<form id="add-physician-form" method="post" action="/admin/addPhysician">
			<% if (messagePhysician) { %>
			<p><strong><%= messageAdmin %></strong></p>
			<% } %>
			<input type="hidden" name="_csrf" value=<%= csrfToken %>>
			<p>Name:</p>
			<input type="text" name="name" required>
			<p>Email:</p>
			<input id="email" type="text" name="email" required>
			<p>Password <span style="font-size: 0.8em">(must be least 8 characters, and contain capital letters, numbers and special characters)</span>:</p>
			<input id="password1" type="password" name="password1" required>
			<p>Confirm Password:</p>
			<input id="password2" type="password" name="password2" required>
			<p>Phone:</p>
			<input id="phone" type="text" name="phone" required>
			<p>Image URL:</p>
			<input id="image" type="text" name="image" required>
			<p>Specialty:</p>
			<select class="specialty-list" name="specialty" required>
				<option value="" disabled selected>Select a specialty:</option>
			</select><br>
			<p>Address:</p>
			<input id="address" type="text" name="address" required>
			<p>Zip Code:</p>
			<input id="zip" type="text" name="zip" required>
			<button type="submit" class="ok-button"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
		</form>	
	</div>

	<div class="section sizer">
		<h3><i class="fa fa-plus" aria-hidden="true"></i><i class="fa fa-user-secret" aria-hidden="true"></i> Add an administrator</h3><hr style="margin: 10px 0 10px 0;">
		<form id="add-admin-form" method="post" action="/admin/addAdmin">
			<% if (messageAdmin) { %>
			<p><strong><%= messageAdmin %></strong></p>
			<% } %>
			<input type="hidden" name="_csrf" value=<%= csrfToken %>>
			<p>Name:</p>
			<input type="text" name="name" required>
			<p>Email:</p>
			<input id="email" type="text" name="email" required>
			<p>Password <span style="font-size: 0.8em">(must be least 8 characters, and contain capital letters, numbers and special characters)</span>:</p>
			<input id="password1" type="password" name="password1" required>
			<p>Confirm Password:</p>
			<input id="password2" type="password" name="password2" required>
			<p>Phone:</p>
			<input id="phone" type="text" name="phone" required>
			<button type="submit" class="ok-button"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
		</form>
	</div>

	<div class="footer">
		<div class="sizer">
			<p>Copyright © Drs4Me 2017. All Rights Reserved</p>
			<p>Icons made by <a href="http://www.flaticon.com/authors/madebyoliver" title="Madebyoliver">Madebyoliver</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></p>
		</div>
	</div>
	<script src="/scripts/admin.js"></script>
</body>
</html>